<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Registration Page</title>
    <!-- -======== [Style Sheet] =======- -->
    <link href="bootstrap.min.css" rel="stylesheet" />
    <link href="angular-toastr.css" rel="stylesheet" />
    <style type="text/css">
        #inputForm{
            border: 1px solid;
            padding: 20px;
            margin: 20px;
        }
    </style>
    <!-- ===============================  -->
</head>
<body ng-app="FormList">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>

    <div class="container">
        <form id="inputForm" name="FormList">
            <h1>Registration Form</h1>
            <fieldset>
                <div ng-controller="MyController as c">
                <div class="form-group">
                    <label class="control-label">First Name</label>
                    <div class="controls">
                        <input type="text" placeholder="First Name" id="firstName"  class="form-control" name="FirstName" ng-model="c.item.FirstName"/><!-- First Name Input-->
                    </div>
                    </div>
                <div class="form-group">
                    <label class="control-label">Last Name</label>
                    <div class="controls">
                        <input type="text"  placeholder="Last Name" id="lastName" class="form-control" name="LastName"  ng-model="c.item.LastName" /><!-- Last Name Input-->
                    </div>
                    </div>
                <div class="form-group">
                    <label class="control-label">Password</label>
                    <div class="controls">
                        <!-- Password One-->
                        <input type="password" id="password" class="form-control" name="passOne" ng-model="c.passOne" ng-minlength="6" required/>
                    </div>
                    <div role="alert">
                        <!-- Error -->
                        <span class="error" ng-show="FormList.passOne.$error.minlength">Six characters minimum required</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Confirm Password</label>
                    <div class="controls">
                        <!-- Password Two-->
                        <input type="password" id="confirmPassword" class="form-control" name="passTwo" ng-model="c.item.Password" ng-minlength="6" ng-pattern="\b{{c.passOne}}\b" required/>
                    </div>
                    <div role="alert">
                        <!-- Error -->
                        <span class="error" ng-show="FormList.passTwo.$error.minlength">Six characters minimum required</span>
                    </div>
                    <div role="alert">
                        <!-- Error -->
                        <span class="error" ng-show="FormList.passTwo.$error.pattern">Password does not match</span>
                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label">Email</label>
                    <div class="controls">
                        <!-- Email Input-->
                        <input type="email" id="email" placeholder="Email" class="form-control" name="Email" ng-model="c.item.Email"/>
                    </div>
                </div>
                    <!-- Button -->
                <input type="submit" id="btnSubmit" class="btn btn-default" value="Submit" ng-click="c.clicky()" /><pre>{{c|json}}</pre>
                </div>
            </fieldset>
        </form>
    </div>
    <!-- ======================= {Scripts}  ================================== -->
    <!-- Bootstrap-->
    <script src="../Scripts/bootstrap.js"></script>
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    <!-- Added by Ralph_Fonz -->
    <script src="../Scripts/AngularScripts/main.js"></script>
    <script src="../Scripts/AngularScripts/call-service.js"></script>
    <script src="../Scripts/AngularScripts/val-controller.js"></script>
    <!-- ===================================================================== -->
</body>
</html>