<!DOCTYPE html>
<html>
<head>
    <title>Ng 4</title>
    <meta charset="utf-8" />
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/angular-toastr.min.css" rel="stylesheet" />
</head>
<body>
    <div data-ng-app="mainApp" class="container">
        <h2>Angular Example 4</h2>
        <div ng-controller='dogController as dogVm' class="row">
            <div class="well col-md-12">
                <p>
                    This example builds upon Example 3 by:
                </p>
                <ul>
                    <li>Moving services to separate files.</li>
                    <li>Demonstrating an entity (Dogs) with a variety of property data types.</li>
                    <li>Implementing angular form validation with input, number, checkbox and radio button controls</li>
                </ul>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="h4">Dogs</span>
                        <button type="button" class="btn btn-primary btn-xs pull-right " data-ng-click="dogVm.add()">Add New Dog</button>
                    </div>
                    <div class="panel-body">
                        <div data-ng-repeat="item in dogVm.items">
                            <a ng-click="dogVm.select(item, $index)">{{item.name + ' - (' + item.breed + ')'}}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default" ng-show="dogVm.item">
                    <div class="panel-heading">
                        <span class="h4">Create / Edit Dog</span>
                    </div>
                    <div class="panel-body" style="margin-left: 15px; margin-right: 15px;">
                        <form name="dogVm.editForm" class="form-horizontal"
                              novalidate ng-submit="dogVm.save()">
                            <div class="form-group">
                                <label>Id: </label><span ng-bind="dogVm.item.id | uppercase"></span>
                            </div>
                            <div class="form-group"
                                 ng-class="{'has-error' : dogVm.editForm.name.$invalid && (dogVm.editForm.$submitted || dogVm.editForm.name.$dirty)}">
                                <label>Name</label>
                                <input type="text" name="name" class="form-control" ng-model="dogVm.item.name" required ng-maxlength="50" />
                                <div ng-show="dogVm.editForm.$submitted || dogVm.editForm.name.$dirty">
                                    <span ng-show="dogVm.editForm.name.$error.required"
                                          class="help-block">Name is required</span>
                                </div>
                            </div>
                            <div class="form-group"
                                 ng-class="{'has-error' : dogVm.editForm.breed.$invalid && (dogVm.editForm.$submitted || dogVm.editForm.breed.$dirty)}">
                                <label>Breed</label>
                                <input type="text" name="breed" class="form-control" ng-model="dogVm.item.breed" required ng-minlength="3" ng-maxlength="50" />
                                <div ng-show="dogVm.editForm.$submitted || dogVm.editForm.breed.$dirty">
                                    <p ng-show="dogVm.editForm.breed.$error.required"
                                       class="help-block">Breed is required</p>
                                    <p ng-show="dogVm.editForm.breed.$error.minlength"
                                       class="help-block">Breed must be at least 3 characters</p>
                                    <p ng-show="dogVm.editForm.breed.$error.maxlength"
                                       class="help-block">Breed can be no more than 50 characters</p>
                                </div>
                            </div>
                            <div class="form-group"
                                 ng-class="{'has-error' : dogVm.editForm.weight.$invalid && (dogVm.editForm.$submitted || dogVm.editForm.weight.$dirty)}">
                                <label>Weight (lbs)</label>
                                <input type="number" class="form-control" name="weight"
                                       ng-model="dogVm.item.weight" required ng-min="1" ng-max="250" />
                                <div ng-show="dogVm.editForm.$submitted || dogVm.editForm.weight.$dirty">
                                    <span ng-show="dogVm.editForm.weight.$error.required"
                                          class="help-block">
                                        Weight is required.
                                    </span>
                                    <span ng-show="dogVm.editForm.weight.$error.min"
                                          class="help-block">
                                        Weight must be at least 1 lb.
                                    </span>
                                    <span ng-show="dogVm.editForm.weight.$error.max"
                                          class="help-block">
                                        Weight cannot be more than 250 lbs.
                                    </span>
                                </div>
                            </div>
                            <div class="form-group"
                                 ng-class="{'has-error' : dogVm.editForm.birthDate.$invalid && (dogVm.editForm.$submitted || dogVm.editForm.birthDate.$dirty)}">
                                <label>Birthdate</label>
                                <input type="text" name="birthDate" class="form-control" ng-model="dogVm.item.birthDate" required />
                                <div ng-show="dogVm.editForm.$submitted || dogVm.editForm.birthDate.$dirty">
                                    <span ng-show="dogVm.editForm.birthDate.$error.required"
                                          class="help-block">Birthdate is required</span>
                                </div>
                            </div>
                            <div class="form-group"
                                 ng-class="{'has-error' : dogVm.editForm.gender.$invalid && (dogVm.editForm.$submitted || dogVm.editForm.gender.$dirty)}">
                                <label>Gender</label>
                                <div>
                                    <label class="radio-inline">
                                        <input type="radio" name="gender" value="M" ng-model="dogVm.item.gender" required />
                                        Male
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="gender" value="F" ng-model="dogVm.item.gender" required />
                                        Female
                                    </label>
                                    <div ng-show="dogVm.editForm.$submitted || dogVm.editForm.gender.$dirty">
                                        <p ng-show="dogVm.editForm.gender.$error.required"
                                           class="help-block">
                                            Gender is required
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Other</label>
                                <div>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" ng-model="dogVm.item.isNeutered" />
                                        Neutered/Spayed
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" ng-model="dogVm.item.isMicrochipped" />
                                        Microchipped
                                    </label>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary btn-sm"
                                    ng-enabled="dogVm.editForm.$dirty">
                                Save
                            </button>
                            <button type="button" class="btn btn-default btn-sm"
                                    ng-click="dogVm.cancel()"
                                    ng-enabled="dogVm.editForm.$dirty">
                                Cancel
                            </button>
                            <button type="button" class="btn btn-warning btn-sm"
                                    ng-click="dogVm.delete()"
                                    ng-show="dogVm.item.id">
                                Delete
                            </button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/Scripts/jquery-3.1.1.js"></script>
    <script src="/Scripts/angular.js"></script>
    <!--<script src="/Scripts/angular-toastr.min.js"></script>-->
    <script src="/Scripts/angular-toastr.tpls.min.js"></script>

    <script>

        (function () {
            angular.module('mainApp', ['toastr']);
        })();

    </script>

    <script src="/Scripts/app/services/dog-service.js"></script>
    <script src="/Scripts/app/services/alert-service.js"></script>

    <script >
        (function () {
            "use strict";
            angular.module('mainApp')
            .controller('dogController', DogController);

            // Inject services that our controller depends upon
            DogController.$inject = ['$scope', 'alertService', 'dogService']

            function DogController($scope, alertService, dogService) {
                // Administrative stuff
                var vm = this;
                vm.dogService = dogService;
                vm.alertService = alertService;

                // ViewModel
                vm.items = [];
                // Angular will automatically set this to reference the form if the form
                // has a matching name attribute
                vm.editForm = null;
                vm.item = null;  // copy of item being edited
                vm.itemIndex = -1; // index of item being edited
                vm.select = _select;
                vm.save = _save;
                vm.cancel = _cancel;
                vm.add = _add;
                vm.delete = _delete;

                // "The fold"

                _render();

                function _render() {
                    vm.dogService.getAll()
                        .then(_getAllSuccess, _getAllError);
                }

                function _getAllSuccess(response) {
                    if (response && response.data && response.data.items) {
                        vm.items = response.data.items;
                    }
                    vm.alertService.success("Retrieved all");
                }

                function _getAllError(response) {
                    if (response && response.data && response.data.message) {
                        vm.alertService.error(response.data.message, "GetAll failed");
                    }
                    else {
                        vm.alertService.error("Unable to retrieve data", "GetAll failed");
                    }
                }

                function _select(item, index) {
                    // Keep track of the position in vm.items of
                    // the item we will be editing
                    vm.itemIndex = index;
                    // get a fresh copy of the object to be edited from the database.
                    vm.dogService.getById(item.id)
                        .then(_getByIdSuccess, _getByIdError)
                    vm.editForm.$setPristine();
                }

                function _getByIdSuccess(response) {
                    if (response && response.data && response.data.item) {
                        vm.item = response.data.item;
                    }
                    else {
                        vm.alertService.error("Item has been deleted from the system.")
                    }
                }

                function _getByIdError(response) {
                    if (response && response.data && response.data.message) {
                        vm.alertService.error(response.data.message, "GetById failed");
                    }
                    else {
                        vm.alertService.error("Unable to retrieve data", "GetById failed");
                    }
                }

                // create a new empty item
                function _add() {
                    // Changing item from null to empty object indicates any
                    // ui components for editing should be shown
                    vm.item = {};
                    vm.itemIndex = -1;
                    // set the form $submitted to false and the form and all controls $dirty to false
                    vm.editForm.$setPristine();
                }

                function _cancel() {
                    _endEdit();
                }

                function _endEdit() {
                    vm.item = null;
                    vm.itemIndex = -1;
                }

                function _save(isValid) {
                    if (vm.editForm.$invalid) {
                        //vm.editForm.$setDirty();  // set form as dirty, to make validation messages visible.
                        vm.alertService.warning('Some information is not entered correctly, please review the validation messages and try again.',
                            'Save Failed');
                        return;
                    }
                    if (vm.item.id) {
                        vm.dogService.put(vm.item)
                            .then(_putSuccess, _putError);
                    }
                    else {
                        vm.dogService.post(vm.item)
                            .then(_postSuccess, _postError);
                    }
                }

                function _putSuccess(response) {
                    // To update UI, replace with new version
                    vm.items[vm.itemIndex] = vm.item;
                    _endEdit();
                    vm.alertService.success("Update successful");
                }

                function _putError(response) {
                    if (response && response.data && response.data.message) {
                        vm.alertService.error(response.data.message, "Update failed");
                    }
                    else {
                        vm.alertService.error("Unable to retrieve data", "Update failed");
                    }
                }

                function _postSuccess(response) {
                    if (response && response.data && response.data.item) {
                        // To update UI, get id from data
                        vm.item.id = response.data.item;
                        vm.items.push(vm.item);
                        _endEdit();
                        vm.alertService.success("Insert successful");
                    }
                }

                function _postError(jqXHR) {
                    if (response && response.data && response.data.message) {
                        vm.alertService.error(response.data.message, "Insert failed");
                    }
                    else {
                        vm.alertService.error("Unable to retrieve data", "Insert failed");
                    }
                }

                function _delete() {
                    if (vm.item.id) {
                        vm.dogService.delete(vm.item.id)
                        .then(_deleteSuccess, _deleteError);
                    }
                }

                function _deleteSuccess(response) {
                    // To update UI, replace with new version
                    vm.items.splice(vm.itemIndex, 1);
                    _endEdit();
                    vm.alertService.success("Delete successful");
                }

                function _deleteError(response) {
                    if (response && response.data && response.data.message) {
                        vm.alertService.error(response.data.message, "Delete failed");
                    }
                    else {
                        vm.alertService.error("Unable to delete item", "Delete failed");
                    }
                }
            }

        })();
    </script>


</body>
</html>

