<!DOCTYPE html>
<html>
<head>
    <title>Ng 5</title>
    <meta charset="utf-8" />
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/angular-toastr.min.css" rel="stylesheet" />
</head>
<body>
    <div data-ng-app="mainApp" class="container">
        <h2>Angular Example 5 - Angular Searching, Sorting and Pagination</h2>
        <div ng-controller='dogController as dogVm' class="row">
            <div class="well col-md-12">
                <p>
                    This example builds upon Example 4 by:
                </p>
                <ul>
                    <li>Using a built-in Angular Filter to format date</li>
                    <li>Filtering with JavaScript filter function*</li>
                    <li>Angular orderBy Filter</li>
                    <li>Custom Angular pagination filter</li>
                    <li>Using select controls with ngOptions</li>
                    <li>uib-pagination control</li>
                </ul>
                <div>* Chose not to use angular fitlering for search, since it is difficult to combine with angular paging and still get a count of the number of matches. </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="h4">Dogs</span>
                        <button type="button" class="btn btn-primary btn-xs pull-right " data-ng-click="dogVm.add()">Add New Dog</button>
                    </div>
                    <div class="panel-body">
                        <form class="form-inline">
                            <div class="pull-right row" style="padding: 4px;">{{dogVm.filteredItems.length + ' matches'}}</div>
                            <div class="form-group">
                                <label>Find</label>
                                <input type="text" class="form-control input-sm" placeholder="name/breed"
                                       ng-model="dogVm.searchText" ng-change="dogVm.filter()" />
                            </div>

                            <div class="form-group">
                                <label for="sortBy">Sort By</label>

                                <div class="input-group input-group-sm">
                                    <select class="input-sm mr-20" ng-model="dogVm.orderBy" placeholder="sort by">
                                        <option value="name">Name</option>
                                        <option value="breed">Breed</option>
                                        <option value="birthDate">Birthdate</option>
                                    </select>

                                    <label class="form-check-label" style="padding: 8px;">
                                        <input type="checkbox" class="form-check-input" ng-model="dogVm.reverse" style="margin: 4px">Rev
                                    </label>
                                </div>
                            </div>

                        </form>

                        <div class="clearfix"></div>
                        <hr />
                        <div data-ng-repeat="item in dogVm.filteredItems | orderBy: dogVm.orderBy : dogVm.reverse | paginate: dogVm.currentPage : dogVm.itemsPerPage ">
                            <a ng-click="dogVm.select(item)">
                                {{item.name + ' - (' + item.breed + ') - ' + item.birthDate | date }}
                            </a>
                        </div>
                        <hr />

                        <ul class="col-md-8" style="margin: 0" uib-pagination ng-model="dogVm.currentPage"
                            total-items="dogVm.filteredItems.length" boundary-link="true"
                            items-per-page="dogVm.itemsPerPage"
                            max-size="8"></ul>
                        <div class="col-md-4">
                            <select style="margin-top: 6px;" ng-model="dogVm.itemsPerPage"
                                    ng-options="count as count + ' / page' for count in dogVm.itemsPerPageOptions"></select>
                        </div>

                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default" ng-show="dogVm.item">
                    <div class="panel-heading">
                        <span class="h4">Create / Edit Dog</span>
                    </div>
                    <div class="panel-body" style="margin-left: 15px; margin-right: 15px;">
                        <form name="dogVm.editForm" class="form-horizontal"
                              novalidate ng-submit="dogVm.save()">
                            <div class="form-group">
                                <label>Id: </label><span ng-bind="dogVm.item.id | uppercase"></span>
                            </div>
                            <div class="form-group"
                                 ng-class="{'has-error' : dogVm.hasValidationError('name')}">
                                <label>Name</label>
                                <input type="text" name="name" class="form-control" ng-model="dogVm.item.name" required ng-maxlength="50" />
                                <span ng-show="dogVm.showValidationError('name','required')"
                                      class="help-block">Name is required</span>
                                <span ng-show="dogVm.showValidationError('name','maxlength')"
                                      class="help-block">Name can be no more than 50 characters</span>
                            </div>
                            <div class="form-group"
                                 ng-class="{'has-error' : dogVm.hasValidationError('breed')}">
                                <label>Breed</label>
                                <input type="text" name="breed" class="form-control" ng-model="dogVm.item.breed" required ng-minlength="3" ng-maxlength="50" />
                                <p ng-show="dogVm.showValidationError('breed','required')"
                                   class="help-block">Breed is required</p>
                                <p ng-show="dogVm.showValidationError('breed','minlength')"
                                   class="help-block">Breed must be at least 3 characters</p>
                                <p ng-show="dogVm.showValidationError('breed','maxlength')"
                                   class="help-block">Breed can be no more than 50 characters</p>

                            </div>
                            <div class="form-group" ng-class="{'has-error' : dogVm.hasValidationError('weight')}">
                                <label>Weight (lbs)</label>
                                <input type="number" class="form-control" name="weight"
                                       ng-model="dogVm.item.weight" required ng-min="1" ng-max="250" />
                                <span ng-show="dogVm.showValidationError('weight','required')"
                                      class="help-block">
                                    Weight is required.
                                </span>
                                <span ng-show="dogVm.showValidationError('weight','min')"
                                      class="help-block">
                                    Weight must be at least 1 lb.
                                </span>
                                <span ng-show="dogVm.showValidationError('weight','max')"
                                      class="help-block">
                                    Weight cannot be more than 250 lbs.
                                </span>
                            </div>
                            <div class="form-group"
                                 ng-class="{'has-error' : dogVm.hasValidationError('birthDate')}">
                                <label>Birthdate</label>
                                <input type="text" name="birthDate" class="form-control" ng-model="dogVm.item.birthDate" required />
                                <span ng-show="dogVm.showValidationError('birthDate', 'required')"
                                      class="help-block">Birthdate is required</span>
                            </div>
                            <div class="form-group"
                                 ng-class="{'has-error' : dogVm.hasValidationError('gender')}">
                                <label>Gender</label>
                                <div>
                                    <label class="radio-inline">
                                        <input type="radio" name="gender" value="M" ng-model="dogVm.item.gender" required />
                                        Male
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="gender" value="F" ng-model="dogVm.item.gender" required />
                                        Female
                                    </label>
                                    <p ng-show="dogVm.showValidationError('gender','required')"
                                       class="help-block">
                                        Gender is required
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Other</label>
                                <div>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" ng-model="dogVm.item.isNeutered" />
                                        Neutered/Spayed
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" ng-model="dogVm.item.isMicrochipped" />
                                        Microchipped
                                    </label>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary btn-sm"
                                    ng-enabled="dogVm.editForm.$dirty">
                                Save
                            </button>
                            <button type="button" class="btn btn-default btn-sm"
                                    ng-click="dogVm.cancel()">
                                Cancel
                            </button>
                            <button type="button" class="btn btn-warning btn-sm"
                                    ng-click="dogVm.delete()"
                                    ng-show="dogVm.item.id">
                                Delete
                            </button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/Scripts/jquery-3.1.1.js"></script>
    <script src="/Scripts/angular.js"></script>
    <script src="/Scripts/angular-toastr.min.js"></script>
    <script src="/Scripts/angular-toastr.tpls.min.js"></script>
    <script src="/Scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script src="/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>

    <script>
        // Establish Module Name
        var APPNAME = 'mainApp';
    </script>

    <script>

        (function () {
            angular.module(APPNAME, ['toastr', 'ui.bootstrap']);
        })();

    </script>
    <script src="/Scripts/app/filters/paginate.js"></script>
    <script src="/Scripts/app/services/dog-service.js"></script>
    <script src="/Scripts/app/services/alert-service.js"></script>

    <script>
        (function () {
            "use strict";
            angular.module('mainApp')
                .controller('dogController', DogController);

            // Inject services that our controller depends upon
            DogController.$inject = ['$scope', 'alertService', 'dogService']

            function DogController($scope, alertService, dogService) {
                // Administrative stuff
                var vm = this;

                vm.$scope = $scope;

                // ViewModel
                vm.items = []; // all items from the AJAX call
                vm.filteredItems = []; // list of items that meet filter criterion

                // Angular will automatically set this to reference the form if the form
                // has a matching name attribute
                vm.editForm = null;
                vm.item = null;  // copy of item being edited
                vm.select = _select;
                vm.save = _save;
                vm.cancel = _cancel;
                vm.add = _add;
                vm.delete = _delete;

                vm.currentPage = 1;
                vm.itemsPerPage = 8;
                vm.totalItems = 1000;
                vm.itemsPerPageOptions = [4, 8, 12, 16];
                vm.searchText = '';
                vm.orderBy = 'name';
                vm.reverse = '';
                vm.filter = _filter;

                vm.$onInit = _init;

                vm.hasValidationError = _hasValidationError;
                vm.showValidationError = _showValidationError;

                // "The fold"

                function _init() {

                    dogService.getAll()
                        .then(_getAllSuccess, _getAllError);
                }

                function _filter() {
                    vm.filteredItems = vm.items.filter(_dogFilter);
                }

                function _getAllSuccess(data) {
                    if (data && data.items) {
                        vm.items = data.items;
                        _filter();
                    }
                    alertService.success("Retrieved all");
                }

                function _dogFilter(dog) {
                    if (!vm.searchText) {
                        return true;
                    }
                    var searchString = vm.searchText.toUpperCase();
                    return (dog.name.toUpperCase().indexOf(searchString) > -1)
                        || (dog.breed.toUpperCase().indexOf(searchString) > -1);
                }

                function _getAllError(error) {
                    if (error && error.message) {
                        alertService.error(error.message, "GetAll failed");
                    }
                    else {
                        alertService.error("Unable to retrieve data", "GetAll failed");
                    }
                }

                function _select(item) {
                    // get a fresh copy of the object to be edited from the database.
                    vm.dogService.getById(item.id)
                        .then(_getByIdSuccess, _getByIdError)
                    vm.editForm.$setPristine();
                }

                function _getByIdSuccess(data) {
                    if (data && data.item) {
                        vm.item = data.item;
                    }
                    else {
                        alertService.error("Item has been deleted from the system.")
                    }
                }

                function _getByIdError(error) {
                    if (error && error.message) {
                        alertService.error(error.message, "GetById failed");
                    }
                    else {
                        alertService.error("Unable to retrieve data", "GetById failed");
                    }
                }

                // create a new empty item
                function _add() {
                    // Changing item from null to empty object indicates any
                    // ui components for editing should be shown
                    vm.item = {};
                    // set the form $submitted to false and the form and all controls $dirty to false
                    vm.editForm.$setPristine();
                }

                function _cancel() {
                    _endEdit();
                }

                function _endEdit() {
                    vm.item = null;
                }

                function _save(isValid) {
                    if (vm.editForm.$invalid) {
                        alertService.warning('Some information is not entered correctly, please review the validation messages and try again.',
                            'Save Failed');
                        return;
                    }
                    if (vm.item.id) {
                        vm.dogService.put(vm.item)
                            .then(_putSuccess, _putError);
                    }
                    else {
                        vm.dogService.post(vm.item)
                            .then(_postSuccess, _postError);
                    }
                }

                function _putSuccess(data) {
                    // replace the item in the array with the updated item.
                    var index = vm.items.findIndex(function (element, index, array) {
                        return element.id === vm.item.id;
                    });
                    vm.items[index] = vm.item;
                    _endEdit();
                    // Need to re-filter, since edit may have changed results
                    _filter();
                    alertService.success("Update successful");
                }

                function _putError(error) {
                    if (error && error.message) {
                        alertService.error(error.message, "Update failed");
                    }
                    else {
                        alertService.error("Unable to retrieve data", "Update failed");
                    }
                }

                function _postSuccess(data) {
                    if (data && data.item) {
                        // To update UI, get id from data
                        vm.item.id = data.item;
                        vm.items.push(vm.item);
                        _endEdit();
                        alertService.success("Insert successful");
                    }
                }

                function _postError(error) {
                    if (error && error.message) {
                        alertService.error(error.message, "Insert failed");
                    }
                    else {
                        alertService.error("Unable to retrieve data", "Insert failed");
                    }
                }

                function _delete() {
                    if (vm.item.id) {
                        vm.dogService.delete(vm.item.id)
                            .then(_deleteSuccess, _deleteError);
                    }
                }

                function _deleteSuccess(data) {
                    // To update UI, replace with new version
                    vm.items.splice(vm.itemIndex, 1);
                    _endEdit();
                    alertService.success("Delete successful");
                }

                function _deleteError(error) {
                    if (error && error.message) {
                        alertService.error(error.message, "Delete failed");
                    }
                    else {
                        alertService.error("Unable to delete item", "Delete failed");
                    }
                }

                function _hasValidationError(propertyName) {
                    return (vm.editForm.$submitted || vm.editForm[propertyName].$dirty)
                        && vm.editForm[propertyName].$invalid;
                }

                function _showValidationError(propertyName, ruleName) {
                    return (vm.editForm.$submitted || vm.editForm[propertyName].$dirty)
                        && vm.editForm[propertyName].$error[ruleName];
                }
            }

        })();
    </script>


</body>
</html>
