<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="h4">Dogs</span>
                    <button type="button" class="btn btn-primary btn-xs pull-right " data-ng-click="dogVm.add()">Add New Dog</button>
                </div>
                <div class="panel-body">
                    <form class="form-inline">
                        <div class="pull-right row" style="padding: 4px;">{{dogVm.filteredItems.length + ' matches'}}</div>
                        <div class="form-group">
                            <label>Find</label>
                            <input type="text" class="form-control input-sm" placeholder="name/breed"
                                   ng-model="dogVm.searchText" ng-change="dogVm.filter()" />
                        </div>

                        <div class="form-group">
                            <label for="sortBy">Sort By</label>

                            <div class="input-group input-group-sm">
                                <select class="input-sm mr-20" ng-model="dogVm.orderBy" placeholder="sort by">
                                    <option value="name">Name</option>
                                    <option value="breed">Breed</option>
                                    <option value="birthDate">Birthdate</option>
                                </select>

                                <label class="form-check-label" style="padding: 8px;">
                                    <input type="checkbox" class="form-check-input" ng-model="dogVm.reverse" style="margin: 4px">Rev
                                </label>
                            </div>
                        </div>

                    </form>

                    <div class="clearfix"></div>
                    <hr />
                    <div data-ng-repeat="item in dogVm.filteredItems | orderBy: dogVm.orderBy : dogVm.reverse | paginate: dogVm.currentPage : dogVm.itemsPerPage ">
                        <a ng-click="dogVm.select(item, $index)">
                            {{item.name + ' - (' + item.breed + ') - ' + item.birthDate | date }}
                        </a>
                    </div>
                    <hr />

                    <ul class="col-md-8" style="margin: 0" uib-pagination ng-model="dogVm.currentPage"
                        total-items="dogVm.filteredItems.length" boundary-link="true"
                        items-per-page="dogVm.itemsPerPage"
                        max-size="8"></ul>
                    <div class="col-md-4">
                        <select style="margin-top: 6px;" ng-model="dogVm.itemsPerPage"
                                ng-options="count as count + ' / page' for count in dogVm.itemsPerPageOptions"></select>
                    </div>

                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default" ng-show="dogVm.item">
                <div class="panel-heading">
                    <span class="h4">Create / Edit Dog</span>
                </div>
                <div class="panel-body" style="margin-left: 15px; margin-right: 15px;">
                    <form name="dogVm.editForm" class="form-horizontal"
                          novalidate ng-submit="dogVm.save()">
                        <div class="form-group">
                            <label>Id: </label><span ng-bind="dogVm.item.id | uppercase"></span>
                        </div>
                        <div class="form-group"
                             ng-class="{'has-error' : dogVm.hasValidationError('name')}">
                            <label>Name</label>
                            <input type="text" name="name" class="form-control" ng-model="dogVm.item.name" required ng-maxlength="50" />
                            <span ng-show="dogVm.showValidationError('name','required')"
                                  class="help-block">Name is required</span>
                            <span ng-show="dogVm.showValidationError('name','maxlength')"
                                  class="help-block">Name can be no more than 50 characters</span>
                        </div>
                        <div class="form-group"
                             ng-class="{'has-error' : dogVm.hasValidationError('breed')}">
                            <label>Breed</label>
                            <input type="text" name="breed" class="form-control" ng-model="dogVm.item.breed" required ng-minlength="3" ng-maxlength="50" />
                            <p ng-show="dogVm.showValidationError('breed','required')"
                               class="help-block">Breed is required</p>
                            <p ng-show="dogVm.showValidationError('breed','minlength')"
                               class="help-block">Breed must be at least 3 characters</p>
                            <p ng-show="dogVm.showValidationError('breed','maxlength')"
                               class="help-block">Breed can be no more than 50 characters</p>

                        </div>
                        <div class="form-group" ng-class="{'has-error' : dogVm.hasValidationError('weight')}">
                            <label>Weight (lbs)</label>
                            <input type="number" class="form-control" name="weight"
                                   ng-model="dogVm.item.weight" required ng-min="1" ng-max="250" />
                            <span ng-show="dogVm.showValidationError('weight','required')"
                                  class="help-block">
                                Weight is required.
                            </span>
                            <span ng-show="dogVm.showValidationError('weight','min')"
                                  class="help-block">
                                Weight must be at least 1 lb.
                            </span>
                            <span ng-show="dogVm.showValidationError('weight','max')"
                                  class="help-block">
                                Weight cannot be more than 250 lbs.
                            </span>
                        </div>
                        <div class="form-group"
                             ng-class="{'has-error' : dogVm.hasValidationError('birthDate')}">
                            <label>Birthdate</label>
                            <input type="text" name="birthDate" class="form-control" ng-model="dogVm.item.birthDate" required />
                            <span ng-show="dogVm.showValidationError('birthDate', 'required')"
                                  class="help-block">Birthdate is required</span>
                        </div>
                        <div class="form-group"
                             ng-class="{'has-error' : dogVm.hasValidationError('gender')}">
                            <label>Gender</label>
                            <div>
                                <label class="radio-inline">
                                    <input type="radio" name="gender" value="M" ng-model="dogVm.item.gender" required />
                                    Male
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="gender" value="F" ng-model="dogVm.item.gender" required />
                                    Female
                                </label>
                                <p ng-show="dogVm.showValidationError('gender','required')"
                                   class="help-block">
                                    Gender is required
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Other</label>
                            <div>
                                <label class="checkbox-inline">
                                    <input type="checkbox" ng-model="dogVm.item.isNeutered" />
                                    Neutered/Spayed
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" ng-model="dogVm.item.isMicrochipped" />
                                    Microchipped
                                </label>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary btn-sm"
                                ng-enabled="dogVm.editForm.$dirty">
                            Save
                        </button>
                        <button type="button" class="btn btn-default btn-sm"
                                ng-click="dogVm.cancel()">
                            Cancel
                        </button>
                        <button type="button" class="btn btn-warning btn-sm"
                                ng-click="dogVm.delete()"
                                ng-show="dogVm.item.id">
                            Delete
                        </button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
